{% load static %}
<script>
    $(document).ready(function () {
        $('.navbar .dropdown-item').on('click', function (e) {

        });


        /*$('.navbar .dropdown-item').on('click', function (e) {
            var $el = $(this).children('.dropdown-toggle');
            var $parent = $el.offsetParent(".dropdown-menu");
            $(this).parent("li").toggleClass('open');
    
            if (!$parent.parent().hasClass('navbar-nav')) {
                if ($parent.hasClass('show')) {
                    $parent.removeClass('show');
                    $el.next().removeClass('show');
                    $el.next().css({"top": -999, "left": -999});
                } else {
                    $parent.parent().find('.show').removeClass('show');
                    $parent.addClass('show');
                    $el.next().addClass('show');
                    $el.next().css({"top": $el[0].offsetTop, "left": $parent.outerWidth() - 4});
                }
                e.preventDefault();
                e.stopPropagation();
            }
        });
    
        $('.navbar .dropdown').on('hidden.bs.dropdown', function () {
            $(this).find('li.dropdown').removeClass('show open');
            $(this).find('ul.dropdown-menu').removeClass('show open');
        });*/
    
    });
</script>
<nav class="navbar navbar-expand-lg navbar-dark primary static-top" id="navBar">
    <div class="container-fluid">
        <a class="navbar-item col-1" aria-label="Home" href="{% url 'index' %}">
            <img src="{% static 'img/logo_sapore.png' %}" 
                    id="logoSapore" aria-label="Logo">
        </a>
        {% if 'accounts' not in request.path %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
            aria-label="Navigation options">
                <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mr-auto">
                {%if 'admin' in user.groups.get.name or 'sapore' in user.groups.get.name  %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                        Parâmetros</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url 'chart_list' %}">Gráficos</a></li>
                        <li><a class="dropdown-item" href="{% url 'branch_list' %}">Filiais</a></li>
                        <li class="dropend">
                            <a class="dropdown-item dropdown-toggle" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                                Linhas</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'line_plan_list' %}">Planos</a></li>
                                <li><a class="dropdown-item" href="{% url 'line_status_list' %}">Status</a></li>
                                <li><a class="dropdown-item" href="{% url 'line_status_rfp_list' %}">Status RFP</a></li>
                            </ul>
                        </li>
                        <li class="dropend">
                            <a class="dropdown-item dropdown-toggle" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                                Smartphones</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 's_model_list' %}">Modelos</a></li>
                                <li><a class="dropdown-item" href="{% url 's_status_list' %}">Status</a></li>
                            </ul>
                        </li>
                        <li class="dropend">
                            <a class="dropdown-item dropdown-toggle" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                                Vivobox</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'v_model_list' %}">Modelos</a></li>
                                <li><a class="dropdown-item" href="{% url 'v_status_list' %}">Status</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                {%endif%}
                {%if 'admin' in user.groups.get.name or 'telecom' in user.groups.get.name%}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                        Telecom</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li class="dropend">
                            <a class="dropdown-item dropdown-toggle" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                                Móvel</a>
                            <ul class="dropdown-menu">
                                {%if 'admin' in user.groups.get.name or 'sapore' in user.groups.get.name  %}
                                <li><a class="dropdown-item" href="{% url 'dashboard_telecom' %}">Dashboard</a></li>
                                {%endif%}
                                <li><a class="dropdown-item" href="{% url 'line_list' %}">Linhas</a></li>
                                {%if 'admin' in user.groups.get.name or 'sapore' in user.groups.get.name  %}
                                <li><a class="dropdown-item" href="{% url 'smartphone_list' %}">Smartphones</a></li>
                                <li><a class="dropdown-item" href="{% url 'vivobox_list' %}">VivoBox</a></li>
                                {%endif%}
                            </ul>
                        </li>
                    </ul>
                </li>
                {%endif%}
                <li>
                    <a class="nav-link" href="{% url 'logout' %}">Sair</a>
                </li>
            </ul>
        {% endif %}
    </div>
</nav>

