{% extends 'telecom/param/index_list.html' %}

{% block title %}Smartphone | Status | Sapore{% endblock %}


{%block list_title%}Status de Smartphone {%endblock%}
{%block list_add%} Adicionar Status{%endblock%}
{%block list_add_url%}{% url 's_status_add' %}{%endblock%}

{%block list_th%}
<th><label scope="col">Status</label></th>
<th></th>
{%endblock%}

{%block list_tb%}
<td>{{object.name}}</td>
{%endblock%}

{%block list_edit_url%}{% url 's_status_edit' object.id %}{%endblock%}
{%block list_delete_url%}{% url 'delete_status' 'smartphone' object.id 0 %}{%endblock%}