{% extends 'base.html' %}

{% block title %}Dashboard | Sapore{% endblock %}

{% block scripts %}
<script>
    function onToggleLogCheckbox(element){
        if (element.id == 'check_smart'){
            dash_smart.options = chartOptions(element.checked);
            dash_smart.update();
        } else if (element.id == 'check_line'){
            dash_line.options = chartOptions(element.checked);
            dash_line.update();
        } else if (element.id == 'check_box'){
            dash_box.options = chartOptions(element.checked);
            dash_box.update();
        };
    };

    function color_generator(opacidade = 1){
        let r = Math.random() * 255;
        let g = Math.random() * 255;
        let b = Math.random() * 255;

        if((r<100 && g<100 && b<100) || (r>180 && g>180 && b>180)){
            r = Math.random() * (180 - 100) + 100;
            g = Math.random() * (180 - 100) + 100;
            b = Math.random() * (180 - 100) + 100;
        };

        return `rgba(${r}, ${g}, ${b}, ${opacidade})`;
    };

    function unpack_list(list, key){
        aux = [];
        for(i=0;i<list.length;i++){
            aux.push(list[i][key]);
        };
        return aux;
    };

    function log_option(log){
        if(log){
            return {
                display: true,
                type: 'logarithmic',
                ticks: {
                    beginAtZero: true,
                    callback: function (value, index, values) {
                        return Number(value.toString());//pass tick values as a string into Number function
                    }
                },
                afterBuildTicks: function (chartObj) { //Build ticks labelling as per your need
                    chartObj.ticks = [];
                    chartObj.ticks.push(0);
                    chartObj.ticks.push(20);
                    chartObj.ticks.push(40);
                    chartObj.ticks.push(60);
                    chartObj.ticks.push(80);
                    chartObj.ticks.push(100);
                    chartObj.ticks.push(1000);
                    chartObj.ticks.push(2000);
                    chartObj.ticks.push(3000);
                }
            }
        }
        return {
            display: true,
            ticks: {
                beginAtZero: true,
                stepSize: 1
            },
        }
    }

    function config_chart(log, label, labels, ...args){
        var unpacked_args = [];

        for(i=0; i<args[0].length; i++){
            unpacked_args[i] = args[0][i];
        };

        function dataset(_args){
            dataset = []
            for (i=0;i<_args.length;i++){
                data = {
                    label: label[i],
                    backgroundColor: color_generator(),
                    data: _args[i],
                };
                dataset[i] = data;
            };
            return dataset;
        };

        return {
            type: 'bar',
            data: {
                labels: labels,
                datasets: dataset(unpacked_args),
            },
            options: {
                responsive: true,
                legend: {
                    position: 'bottom',
                },
                scales: {
                    yAxes: [log_option(log)]
                },
            }
        };
    };

    function create_dash(labels, label_legend, element, log_checkbox, ...args){
        ctx = document.getElementById(element).getContext('2d');
        log_checkbox = document.getElementById(log_checkbox).checked;
        return new Chart(ctx, config_chart(log_checkbox, label_legend, labels, args));
    };

    function chartOptions(log){
        return {
            responsive: true,
            legend: {
                position: 'bottom',
            },
            scales: {
                yAxes: [log_option(log)]
            },
        }
    };

    dash_smart = null;
    dash_box = null;
    dash_line = null;

    $(document).ready(function(){
        dash_smart = create_dash({{qs_smartphone_status|safe}}, {{qs_smartphone_filter_models|safe}}, 
            'chart_smartphone', 'check_smart'{%for count in qs_smartphone_count%}, {{count}}{%endfor%});

        dash_line = create_dash({{qs_line_status|safe}}, {{qs_line_filter_telecom|safe}}, 
            'chart_line', 'check_line'{%for count in qs_line_count%}, {{count}}{%endfor%});

        dash_box = create_dash({{qs_vivobox_status|safe}}, {{qs_vivobox_filter_models|safe}}, 
            'chart_vivobox', 'check_box'{%for count in qs_vivobox_count%}, {{count}}{%endfor%});
    });
</script>
{% endblock %}

{% block content %}
<div class="row mt-4">
    <div class="col-lg-12 mt-4">
        <div class="card bg-light border-secondary px-3 py-3">
            <div class="d-flex justify-content-between">
                <h5 class="card-title">Total de Smartphones por Modelo</h5>
                <div class="justify-content-center">
                    <button class="mb-3 btn btn-secondary" type="button" data-toggle="collapse" 
                            data-target="#chart_filter_smartphone" aria-expanded="false" aria-controls="chart_filter_smartphone">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-filter-right" viewBox="0 0 16 16">
                                <path d="M14 10.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 .5-.5zm0-3a.5.5 0 0 0-.5-.5h-7a.5.5 0 0 0 0 1h7a.5.5 0 0 0 .5-.5zm0-3a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0 0 1h11a.5.5 0 0 0 .5-.5z"/>
                            </svg>
                    </button>
                </div>
            </div>
            <div class="collapse" id="chart_filter_smartphone">
                <div>
                    <div class="card border-secondary px-3 py-3">
                        <form class="form my-2">
                        <h6><b>Modelos</b></h6>
                        {% for model in qs_smartphone_models %}
                        <div>
                            {% if model in qs_smartphone_filter_models %}
                            <input name="smartphone_{{model}}" id="smartphone_{{model}}" type="checkbox" checked>
                            {% else %}
                            <input name="smartphone_{{model}}" id="smartphone_{{model}}" type="checkbox">
                            {% endif %}
                            <label for="smartphone_{{model}}"> {{model}}</label>
                        </div>
                        {% endfor %}
                        <div class="d-flex justify-content-between">
                            <a class="btn btn-secondary mt-2" href="{% url 'dashboard' %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 20 20">
                                    <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                                </svg> Limpar</a>
                            <button class="btn btn-secondary mt-2" type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 20 20">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                </svg> Filtrar</button>
                        </div>
                        </form>
                    </div>
                </div>
                <br>
            </div>
            <canvas id="chart_smartphone"></canvas>
            <div class="d-flex justify-content-between">
                <div class="mt-2 ml-5">
                    <input class="check-input" type="checkbox" value="" onchange="onToggleLogCheckbox(this)" id="check_smart">
                    <label class="check-label">
                        Log
                    </label>
                </div>
                <div>
                    <button class="mb-3 btn btn-primary" type="button" data-toggle="collapse" 
                            data-target="#table_smartphone" aria-expanded="false" aria-controls="table_smartphone">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-table" viewBox="0 0 16 16">
                                <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z"/>
                            </svg> Dados
                    </button>
                </div>
            </div>
            <div class="collapse" id="table_smartphone">
                <div class="card border-secondary px-3 py-3">
                    <h5 class="card-title">Total de Smartphones por Modelo</h5>
                    <div class="row">
                        {% for model in qs_smartphone_models %}
                        {% if model in qs_smartphone_filter_models %}
                            <div class="col-md-4">
                                <br>
                                <h6><b>{{model}}</b></h6>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Status</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for status, s_models in qs_smartphone.items %}
                                        {% for s_model, value in s_models.items %}
                                            {% if s_model == model %}
                                                <tr>
                                                    <td class="card-text">{{status}}</td>
                                                    <td class="card-text">{{value}}</td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-lg-12 mt-4">
        <div class="card bg-light border-secondary px-3 py-3">
            <div class="d-flex justify-content-between">
                <h5 class="card-title">Total de VivoBox por Modelo</h5>
                <div class="justify-content-center">
                    <button class="mb-3 btn btn-secondary" type="button" data-toggle="collapse" 
                            data-target="#chart_filter_vivobox" aria-expanded="false" aria-controls="chart_filter_vivobox">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-filter-right" viewBox="0 0 16 16">
                                <path d="M14 10.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 .5-.5zm0-3a.5.5 0 0 0-.5-.5h-7a.5.5 0 0 0 0 1h7a.5.5 0 0 0 .5-.5zm0-3a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0 0 1h11a.5.5 0 0 0 .5-.5z"/>
                            </svg>
                    </button>
                </div>
            </div>
            <div class="collapse" id="chart_filter_vivobox">
                <div>
                    <div class="card border-secondary px-3 py-3">
                        <form class="form my-2">
                        <h6><b>Modelos</b></h6>
                        {% for model in qs_vivobox_models %}
                        <div>
                            {% if model in qs_vivobox_filter_models %}
                            <input name="vivobox_{{model}}" id="vivobox_{{model}}" type="checkbox" checked>
                            {% else %}
                            <input name="vivobox_{{model}}" id="vivobox_{{model}}" type="checkbox">
                            {% endif %}
                            <label for="vivobox_{{model}}"> {{model}}</label>
                        </div>
                        {% endfor %}
                        <div class="d-flex justify-content-between">
                            <a class="btn btn-secondary mt-2" href="{% url 'dashboard' %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 20 20">
                                    <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                                </svg> Limpar</a>
                            <button class="btn btn-secondary mt-2" type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 20 20">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                </svg> Filtrar</button>
                        </div>
                        </form>
                    </div>
                </div>
                <br>
            </div>
            <canvas id="chart_vivobox"></canvas>
            <div class="d-flex justify-content-between">
                <div class="mt-2 ml-5">
                    <input class="check-input" type="checkbox" value="" onchange="onToggleLogCheckbox(this)" id="check_box">
                    <label class="check-label">
                        Log
                    </label>
                </div>
                <div class="justify-content-center">
                    <button class="mb-3 btn btn-primary" type="button" data-toggle="collapse" 
                            data-target="#table_vivobox" aria-expanded="false" aria-controls="table_vivobox">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-table" viewBox="0 0 16 16">
                                <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z"/>
                            </svg> Dados
                    </button>
                </div>
            </div>
            <div class="collapse" id="table_vivobox">
                <div class="card border-secondary px-3 py-3">
                    <h5 class="card-title">Total de VivoBox por Modelo</h5>
                    <div class="row">
                        {% for model in qs_vivobox_models %}
                        {% if model in qs_vivobox_filter_models %}
                            <div class="col-md-4">
                                <br>
                                <h6><b>{{model}}</b></h6>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Status</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for status, v_models in qs_vivobox.items %}
                                        {% for v_model, value in v_models.items %}
                                            {% if v_model == model %}
                                                <tr>
                                                    <td class="card-text">{{status}}</td>
                                                    <td class="card-text">{{value}}</td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4" >
    <div class="col-lg-12">
        <div class="card bg-light border-secondary px-3 py-3">
            <div class="d-flex justify-content-between">
                <h5 class="card-title">Total de Linhas por Operadora</h5>
                <div class="justify-content-center">
                    <button class="mb-3 btn btn-secondary" type="button" data-toggle="collapse" 
                            data-target="#chart_filter_line" aria-expanded="false" aria-controls="chart_filter_line">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-filter-right" viewBox="0 0 16 16">
                                <path d="M14 10.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 .5-.5zm0-3a.5.5 0 0 0-.5-.5h-7a.5.5 0 0 0 0 1h7a.5.5 0 0 0 .5-.5zm0-3a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0 0 1h11a.5.5 0 0 0 .5-.5z"/>
                            </svg>
                    </button>
                </div>
            </div>
            <div class="collapse" id="chart_filter_line">
                <div>
                    <div class="card border-secondary px-3 py-3">
                        <form class="form my-2">
                        <h6><b>Operadora</b></h6>
                        {% for telecom in qs_line_telecom %}
                        <div>
                            {% if not telecom in qs_line_filter_telecom %}
                            <input name="line_telecom_{{telecom}}" id="line_telecom_{{telecom}}" type="checkbox">
                            {% else %}
                            <input name="line_telecom_{{telecom}}" id="line_telecom_{{telecom}}" type="checkbox" checked>
                            {% endif %}
                            <label for="line_telecom_{{telecom}}"> {{telecom}}</label>
                        </div>
                        {% endfor %}
                        <div class="d-flex justify-content-between">
                            <a class="btn btn-secondary mt-2" href="{% url 'dashboard' %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 20 20">
                                    <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                                </svg> Limpar</a>
                            <button class="btn btn-secondary mt-2" type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 20 20">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                </svg> Filtrar</button>
                        </div>
                        </form>
                    </div>
                </div>
                <br>
            </div>
            <canvas id="chart_line"></canvas>
            <div class="d-flex justify-content-between">
                <div class="mt-2 ml-5">
                    <input class="check-input" type="checkbox" value="" onchange="onToggleLogCheckbox(this)" id="check_line">
                    <label class="check-label">
                        Log
                    </label>
                </div>
                <div class="justify-content-center">
                    <button class="mb-3 btn btn-primary" type="button" data-toggle="collapse" 
                        data-target="#table_line" aria-expanded="false" aria-controls="table_line">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-table" viewBox="0 0 16 16">
                            <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z"/>
                        </svg> Dados
                    </button>
                </div>
            </div>
            <div class="collapse" id="table_line">
                <div class="card border-secondary px-3 py-3">
                    <h5 class="card-title">Total de Linhas por Operadora</h5>
                    <div class="row">
                        {% for telecom in qs_line_telecom %}
                        {% if telecom in qs_line_filter_telecom %}
                        <div class="col-md-4">
                            <br>
                            <h6><b>{{telecom}}</b></h6>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Status</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for status, qs_telecoms in qs_line.items %}
                                    {% for qs_telecom, value in qs_telecoms.items %}
                                    {% if qs_telecom == telecom %}
                                        <tr>
                                            <td class="card-text">{{status}}</td>
                                            <td class="card-text">{{value}}</td>
                                        </tr>
                                    {% endif %}
                                    {% endfor %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}