{% extends 'telecom/param/index_list.html' %}

{% block title %}Linhas | Status RFP | Sapore{% endblock %}


{%block list_title%}Status RFP {%endblock%}
{%block list_add%} Adicionar Status RFP{%endblock%}
{%block list_add_url%}{% url 'line_status_rfp_add' %}{%endblock%}

{%block list_th%}
<th><label scope="col">Status RFP</label></th>
<th></th>
{%endblock%}

{%block list_tb%}
<td>{{object.name}}</td>
{%endblock%}

{%block list_edit_url%}{% url 'line_status_rfp_edit' object.id %}{%endblock%}
{%block list_delete_url%}{% url 'delete_status' 'line' object.id 1 %}{%endblock%}