{% extends 'admin/base.html' %}
{% load static %}

{% block title %}Administração | Sapore{% endblock %}

{% block extrahead %}
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
{% endblock %}

{% block branding %}
    <h1 id="head">
        <img src="{% static 'img/logo_sapore.png' %}" 
            id="logoSapore" aria-label="Logo"> Administração
    </h1>
{%endblock%}

{%block extrastyle%}
<link rel="stylesheet" href="{% static 'css/admin.css' %}">
{%endblock%}