{% extends 'dashboard/index_list.html' %}

{% block title %}Lista | Gráficos | Sapore{% endblock %}

{%block list_title%}Gráficos {%endblock%}
{%block url_add%}{% url 'add_object' 'chart' %}{%endblock%}

{%block scripts%}
<script>
    function changeVisibility(id = 1, show) {
        var show_id = 0;
        if (show) {
            show_id = 1;
        }
            
        window.location.href = "{% url 'chart_visibility' %}" + "/" + id + "/" + show_id;
    }
</script>
{%endblock%}

{%block list_th%}
<th><label scope="col">Nome</label></th>
<th><label scope="col">Visibilidade</label></th>
<th></th>
{%endblock%}

{%block list_tb%}
<td>{{object.name}}</td>
<td>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" onChange="changeVisibility({{object.id}}, this.checked)" {%if object.visible%}checked{%endif%}>
    </div>
</td>
{%endblock%}

{%block url_edit%}{% url 'edit_object' 'chart' object.id %}{%endblock%}