{% extends 'base.html' %}

{% block title %}Controle | Sapore{% endblock %}

{%block scripts%}
<script>
function test(element){
    cat_response = "";

    $.ajax({
        'url': 'https://catfact.ninja/fact',
        'type': 'GET',
        'dataType': 'json',
        'success': function(response) {
            element.innerHTML = response.fact;
        }
    });
};
</script>
{%endblock%}

{% block content %}
<h1 class="mt-5">Controle Sapore</h1>
<br>
<p id="test{{i}}"><script>test(document.getElementById("test{{i}}"))</script></p>
{% endblock %}
