{% extends 'branch/index_list.html' %}

{% block title %}Filiais | Sapore{% endblock %}

{%block list_title%}Filiais{%endblock%}

{% block url_add %}{% url 'add_object' 'branch' %}{% endblock %}

{%block list_th%}
    <th><label scope="col">CR</label></th>
    <th><label scope="col">Nome</label></th>
    <th><label scope="col">Estrutura</label></th>
    <th><label scope="col">Regional</label></th>
    <th><label scope="col">Status</label></th>
{%endblock%}

{%block list_tb%}
    <td>{{object.branch}}</td>
    <td>{{object.name}}</td>
    <td>{{object.structure}}</td>
    <td>{{object.regional}}</td>
    <td>{%if not object.closed %}Ativo
        {%else%}Encerrado{%endif%}
    </td>
{%endblock%}