{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>{% block title %}{% endblock %}</title>

    {% block head %}{% endblock %}

    {% include 'partials/_head.html' %}
</head>
<body>
    <script>
        function showLoaderOnClick(url) {
            showLoader();
            window.location=url;
        };

        function showLoader(){
            $('body').append(
                '<div id="loadingDiv" class="d-flex justify-content-center">\
                    <div class="spinner-border text-light" style="margin: auto; width: 3rem; \
                        height: 3rem;" role="status"><span class="sr-only"></span> \
                    </div>\
                </div>'
            );
        };

        $(window).on('load', function(){
            timeToRemoveLoader(300);
        });

        function timeToRemoveLoader(wait_time) {
            setTimeout(removeLoader, wait_time); //wait for page load
            showLoader();
            topFunction();
        }

        function removeLoader(){
            $( "#loadingDiv" ).remove();
        };

        function topFunction() {
            document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        };
    </script>

    {% block scripts %}{% endblock scripts %}

    {% include 'partials/_nav.html' %}

    <main class="container">
        <div class="row">
            <div class="col-lg-12">
                {% block content %}{% endblock %}
            </div>
        </div>
    </main>

    {% include 'partials/_footer.html' %}
</body>
</html>