{% extends 'details.html' %}

{% block title %}Detalhes da Linha | Sapore{% endblock %}

{%block url_back%}{% url 'line_list' %}{%endblock%}
{%block details_title%}Linha{%endblock%}
{%block url_edit%}{% url 'line_edit' line.id %}{%endblock%}

{%block column1%}
    <dt>Usuário</dt>
    <dd>{% if line.name %}{{line.name}}{% else %}-{% endif %}</dd>
    <dt>Filial</dt>
    <dd>{% if line.branch %}{{line.branch}}{% else %}-{% endif %}</dd>
    <dt>Ação</dt>
    <dd>{% if line.action %}{{line.action}}{% else %}-{% endif %}</dd>
    <dt>Status</dt>
    <dd>{% if line.status %}{{line.status}}{% else %}-{% endif %}</dd>
    <dt>VIP</dt>
    <dd>{% if line.vip %}Sim
        {% else %}Não{% endif %}</dd>
{%endblock%}
    
{%block column2%}
    <dt>Número</dt>
    <dd>{% if line.number %}{{line.number}}{% else %}-{% endif %}</dd>
    <dt>Operadora</dt>
    <dd>{% if line.telecom %}{{line.telecom}}{% else %}-{% endif %}</dd>
    <dt>Nome Mapeado</dt>
    <dd>{% if line.name_mapped %}Sim
        {% else %}Não{% endif %}</dd>
    <dt>Status RFP</dt>
    <dd>{% if line.status_rfp %}{{line.status_rfp}}{% else %}-{% endif %}</dd>
    <dt>Autorização</dt>
    <dd>{% if line.auth_attachment == 'False' or not line.auth_attachment %}-
        {% else %}<a href="/media/{{line.auth_attachment}}">Arquivo</a>{% endif %}</dd>
{%endblock%}

{%block column3%}
    <dt>SIM Card</dt>
    <dd>{% if line.sim_card %}{{line.sim_card}}{% else %}-{% endif %}</dd>
    <dt>Plano</dt>
    <dd>{% if line.plan %}{{line.plan}}{% else %}-{% endif %}</dd>
    <dt>CR Mapeado</dt>
    <dd>{% if line.branch_mapped %}Sim
        {% else %}Não{% endif %}</dd>
    <dt>Consumo</dt>
    <dd>{% if line.consumption %}{{line.consumption}}{% else %}-{% endif %}</dd>
{%endblock%}

{%block column4%}
    <dt>SIM card Anterior</dt>
    <dd>{% if line.sim_card_old %}{{line.sim_card_old}}{% else %}-{% endif %}</dd>
    <dt>Nota Fiscal</dt>
    <dd>{% if line.receipt %}{{line.receipt}}{% else %}-{% endif %}</dd>
    <dt>Responsável</dt>
    <dd>{% if line.accountable %}{{line.accountable}}{% else %}-{% endif %}</dd>
    <dt>Data da Última Atualização</dt>
    <dd>{% if line.date_update %}{{line.date_update|date:'d/m/Y'}}{% else %}-{% endif %}</dd>
{%endblock%}
