{% extends 'details.html' %}

{% block title %}Detalhes do Smartphone | Sapore{% endblock %}

{%block url_back%}{% url 'smartphone_list' %}{%endblock%}
{%block details_title%}Smartphone{%endblock%}
{%block url_edit%}{% url 'smartphone_edit' smartphone.id %}{%endblock%}

{%block column1%}
    <dt>Usuário</dt>
    <dd>{% if smartphone.name %}{{smartphone.name}}{% else %}-{% endif %}</dd>
    <dt>Filial</dt>
    <dd>{% if smartphone.branch %}{{smartphone.branch}}{% else %}-{% endif %}</dd>
    <dt>Status</dt>
    <dd>{% if smartphone.status %}{{smartphone.status}}{% else %}-{% endif %}</dd>
{%endblock%}

{%block column2%}
    <dt>Número</dt>
    <dd>{% if smartphone.number %}
        <a href="{% url 'line_details' smartphone.line_id %}">{{smartphone.number}}</a>
            {% else %}-{% endif %}</dd>
    <dt>Modelo</dt>
    <dd>{% if smartphone.obj_model %}{{smartphone.obj_model}}{% else %}-{% endif %}</dd>
    <dt>Autorização</dt>
    <dd>{% if smartphone.auth_attachment == 'False' or not smartphone.auth_attachment %}-
        {% else %}<a href="/media/{{smartphone.auth_attachment}}">Arquivo</a>{% endif %}</dd>
{%endblock%}

{%block column3%}
    <dt>IMEI 1</dt>
    <dd>{% if smartphone.imei_1 %}{{smartphone.imei_1}}{% else %}-{% endif %}</dd>
    <dt>Nota Fiscal</dt>
    <dd>{% if smartphone.receipt %}{{smartphone.receipt}}{% else %}-{% endif %}</dd>
    <dt>Código de Rastreio</dt>
    <dd>{% if smartphone.tracking_code %}{{smartphone.tracking_code}}{% else %}-{% endif %}</dd>
{%endblock%}

{%block column4%}
    <dt>IMEI 2</dt>
    <dd>{% if smartphone.imei_2 %}{{smartphone.imei_2}}{% else %}-{% endif %}</dd>
    <dt>Data da Última Atualização</dt>
    <dd>{% if smartphone.date_update %}{{smartphone.date_update|date:'d/m/Y'}}{% else %}-{% endif %}</dd>
{%endblock%}
