{% extends 'details.html' %}

{% block title %}Detalhes do VivoBox | Sapore{% endblock %}

{%block url_back%}{% url 'vivobox_list' %}{%endblock%}
{%block details_title%}Vivobox{%endblock%}
{%block url_edit%}{% url 'vivobox_edit' vivobox.id %}{%endblock%}

{%block column1%}
    <dt>Usuário</dt>
    <dd>{% if vivobox.name %}{{vivobox.name}}{% else %}-{% endif %}</dd>
    <dt>Filial</dt>
    <dd>{% if vivobox.branch %}{{vivobox.branch}}{% else %}-{% endif %}</dd>
    <dt>Status</dt>
    <dd>{% if vivobox.status %}{{vivobox.status}}{% else %}-{% endif %}</dd>
{%endblock%}

{%block column2%}
    <dt>Número</dt>
    <dd>{% if vivobox.number %}
        <a href="{% url 'line_details' vivobox.line_id %}">{{vivobox.number}}</a>
        {% else %}-{% endif %}</dd>
    <dt>Modelo</dt>
    <dd>{% if vivobox.obj_model %}{{vivobox.obj_model}}{% else %}-{% endif %}</dd>
    <dt>Autorização</dt>
    <dd>{% if vivobox.auth_attachment == 'False' or not vivobox.auth_attachment %}-
        {% else %}<a href="/media/{{vivobox.auth_attachment}}">Arquivo</a>{% endif %}</dd>
{%endblock%}

{%block column3%}
    <dt>IMEI 1</dt>
    <dd>{% if vivobox.imei_1 %}{{vivobox.imei_1}}{% else %}-{% endif %}</dd>
    <dt>Nota Fiscal</dt>
    <dd>{% if vivobox.receipt %}{{vivobox.receipt}}{% else %}-{% endif %}</dd>
{%endblock%}

{%block column4%}
    <dt>IMEI 2</dt>
    <dd>{% if vivobox.imei_2 %}{{vivobox.imei_2}}{% else %}-{% endif %}</dd>
    <dt>Data da Última Atualização</dt>
    <dd>{% if vivobox.date_update %}{{vivobox.date_update|date:'d/m/Y'}}{% else %}-{% endif %}</dd>
{%endblock%}